<h1>What's your topic?</h1>

<ul class="list-group">
    <% @topics.each do |topic| %>
      <li class="list-group-item">
        <h2><%= link_to topic.name, topic %></h2>
        <span class="badge"><%= topic.quizzes.count %></span>
        <%= topic.quizzes.limit(5).map(&:question).join(' ') %>
      </li>
    <% end %>
</ul>