<h1><%= @topic.name %></h1>

<p>
  <strong>Quizzes:</strong>
  <%= @topic.quizzes.limit(5).map(&:question).join(', ') %>
</p>

<br>

<div class="text-center">
  <%= link_to 'Start playing!', topic_quizzes_path(@topic), class: 'btn btn-success btn-lg' %>
</div>
